<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Current</title>
    <link href="/static/current@1.0.1/index.css" rel="stylesheet" />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Filled.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Regular.css"
      rel="stylesheet"
    />
    <script src="/static/axois@1.7.2/axios.min.js"></script>
    <script src="/static/js-cookie@3.0.5/js.cookie.min.js"></script>
    <script src="/static/toast-js@1.0.0/toast.min.js"></script>
    <script src="/static/current@1.0.1/index.js"></script>
  </head>
  <body class="flex flex-col h-full bg-[#fafafa]">
    <header class="flex-grow-0 px-5 pb-2 bg-white border-b-2">
      <div>
        <nav class="flex flex-row justify-between items-center mx-3 pt-5 pb-2">
          <div class="flex flex-row h-8">
            <a href="/" class="">
              <span class="sr-only">Current</span>
              <img
                class="h-6 w-auto"
                src="/static/img@1.0.0/current.png"
                alt=""
              />
            </a>
            <div class="hidden login-show flex flex-row">
              <i
                class="icon-ic_fluent_slash_forward_24_filled mx-2 text-gray-200 text-2xl"
              ></i>
              <p>
                <span id="username" class="font-bold"></span>
                <a id="logout" href="#" class="rounded p-1 hover:bg-gray-100"
                  >退出登录</a
                >
              </p>
            </div>
          </div>
          <div class="login-hidden">
            <button
              data-href="/login"
              class="px-3 py-1.5 rounded text-white bg-indigo-600"
            >
              登录
            </button>
          </div>
        </nav>
      </div>
      <div class="hidden login-show">
        <div class="flex flex-row gap-2">
          <button data-href="/" class="px-3 py-1.5 rounded bg-gray-200">
            首页
          </button>
          <button
            data-href="/drafts"
            class="px-3 py-1.5 rounded hover:bg-gray-100"
          >
            草稿
          </button>
          <button
            data-href="/settings"
            class="px-3 py-1.5 rounded hover:bg-gray-100"
          >
            个人设置
          </button>
          <button
            data-href="/management"
            data-with-permission="management.enter"
            class="hidden px-3 py-1.5 rounded hover:bg-gray-100"
          >
            管理面板
          </button>
        </div>
      </div>
    </header>
    <main class="flex-grow mt-4 mx-10 lg:mx-[20%]">
      <div id="issue-list" class="hidden login-show">
        <div class="mb-5 gap-5">
          <button
            data-href="/issue/new"
            data-with-permission="issues.create"
            class="hidden px-3 py-1.5 rounded text-white bg-indigo-600"
          >
            <i class="icon-ic_fluent_add_circle_24_regular"></i>
            创建新期刊
          </button>
        </div>
      </div>
      <div
        id="no-login-box"
        class="login-hidden flex bg-white rounded-lg border shadow justify-center p-10"
      >
        <p>登录到 Current，开始创作之旅。</p>
      </div>
    </main>
    <footer
      class="flex-grow-0 w-full mt-5 px-10 lg:px-[20%] py-10 bg-white border-t-2"
    >
      <img
        class="h-10 w-auto"
        src="/static/img@1.0.0/current.png"
        alt="Current Logo"
      />
      <p class="text-sm text-gray-500 mt-5">
        Current - A intelligent platform for scholar newspaper.
      </p>
      <p class="text-sm text-gray-500 mt-1">
        Made by
        <a href="https://codezhangborui.com" class="text-indigo-600"
          >CodeZhangBorui</a
        >, All right reserved.
      </p>
    </footer>
    <script>
      var token = Cookies.get("token");
      var requestIssues = () => {
        axios
          .get("/api/issues/list", {
            headers: {
              Authorization: token,
            },
          })
          .then((result) => {
            var data = result.data;
            console.log(data);
            if (data.code == 200) {
              var issues = data.data;
              var issueList = document.getElementById("issue-list");
              issues.forEach((issue) => {
                var issueItem = document.createElement("div");
                if (issue.ispublished) {
                  var publish_date = new Date(
                    issue.date * 1000
                  ).toLocaleDateString();
                  var left_days = Math.floor(
                    (new Date(issue.date * 1000) - new Date()) /
                      1000 /
                      60 /
                      60 /
                      24
                  );
                  template = `
                  <div class="mr-3">
                    <i
                      class="icon-ic_fluent_merge_24_regular text-blue-600 text-xl"
                    ></i>
                  </div>
                  <div class="flex-1 flex-col">
                    <h2>第 ${issue.id} 期</h2>
                    <p>出版日期：${publish_date}</p>
                  </div>
                  <div>
                    <button
                      data-href="/issue/${issue.id}"
                      class="hidden px-3 py-1.5 rounded hover:bg-gray-100"
                    >
                      统计信息
                    </button>
                    <div data-with-permission="issues.publish" class="hidden">
                      <button
                        data-href="/issue/${issue.id}"
                        class="px-3 py-1.5 rounded hover:bg-gray-100"
                      >
                        查看
                      </button>
                    </div>
                  </div>`;
                  var thisdom = template;
                  issueItem.innerHTML = thisdom;
                } else {
                  var publish_date = new Date(
                    issue.date * 1000
                  ).toLocaleDateString();
                  var left_days = Math.floor(
                    (new Date(issue.date * 1000) - new Date()) /
                      1000 /
                      60 /
                      60 /
                      24
                  );
                  template = `
                  <div class="mr-3">
                    <i
                      class="icon-ic_fluent_circle_32_regular text-blue-400 text-xl"
                    ></i>
                  </div>
                  <div class="flex-1 flex-col">
                    <h2>第 ${issue.id} 期</h2>
                    <p>计划出版日期：${publish_date}</p>
                    <p>
                      剩余天数：<label class="border rounded px-2"
                        >${left_days} 天</label
                      >
                    </p>
                  </div>
                  <div>
                    <button
                      data-href="/issue/${issue.id}"
                      class="px-3 py-1.5 rounded hover:bg-gray-100"
                    >
                      查看
                    </button>
                    <div data-with-permission="issues.publish" class="hidden">
                      <button
                        data-href="/issue/${issue.id}#publish"
                        class="px-3 py-1.5 rounded hover:bg-gray-100"
                      >
                        发布
                      </button>
                    </div>
                  </div>`;
                  var thisdom = template;
                  issueItem.innerHTML = thisdom;
                }
                issueItem.classList.add(
                  "flex",
                  "flex-col",
                  "lg:flex-row",
                  "flex-nowrap",
                  "bg-white",
                  "rounded-lg",
                  "border",
                  "shadow",
                  "mb-3",
                  "p-5",
                  "w-full"
                );
                issueList.appendChild(issueItem);
              });
              issueList.classList.remove("hidden");
            }
            processPermission();
            processDataHref();
          });
      };
      processDataHref();
    </script>
    <script>
      verifyUser(
        (onsuccess = (userdetail) => {
          console.log("Logged in");
          requestIssues();
        })
      );
      regLogoutButton();
    </script>
  </body>
</html>
