<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Current</title>
    <link href="/static/current@1.0.2/index.css" rel="stylesheet" />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Filled.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Regular.css"
      rel="stylesheet"
    />
    <link
      href="/static/tourguidejs@0.0.16/tour.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-dialog@1.0.0/index.css"
      rel="stylesheet"
    />
    <script src="/static/axois@1.7.2/axios.min.js"></script>
    <script src="/static/js-cookie@3.0.5/js.cookie.min.js"></script>
    <script src="/static/toast-js@1.0.0/toast.min.js"></script>
    <script src="/static/tourguidejs@0.0.16/tour.min.js"></script>
    <script src="/static/fluent-dialog@1.0.0/index.js"></script>
    <script src="/static/current@1.0.2/index.js"></script>
    <script
      src="https://js.sentry-cdn.com/a947a58403328f3fe3be75a35f07b057.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({
        dsn: "https://c0ac450ba612d797f59ace18ff17a503@o4507605506260992.ingest.us.sentry.io/4507605509341184",
        beforeSend(event, hint) {
          // Check if it is an exception, and if so, show the report dialog
          if (event.exception && event.event_id) {
            Sentry.showReportDialog({ eventId: event.event_id });
          }
          return event;
        },
      });
    </script>    
  </head>
  <body class="flex flex-col h-full bg-[#fafafa]">
    <header class="flex-grow-0 px-5 pb-2 bg-white border-b-2">
      <div>
        <nav class="flex flex-row justify-between items-center mx-3 pt-5 pb-2">
          <div class="flex flex-row h-8">
            <a href="/" class="">
              <span class="sr-only">Current</span>
              <img
                class="h-6 w-auto"
                src="/static/img@1.0.0/current.png"
                alt=""
              />
            </a>
            <div class="hidden login-show flex flex-row">
              <i
                class="icon-ic_fluent_slash_forward_24_filled mx-2 text-gray-200 text-2xl"
              ></i>
              <p>
                <span id="username" class="font-bold"></span>
                <a id="logout" href="#" class="rounded p-1 hover:bg-gray-100"
                  >退出登录</a
                >
              </p>
            </div>
          </div>
          <div class="login-hidden">
            <button
              data-href="/login"
              class="px-3 py-1.5 rounded text-white bg-indigo-600"
            >
              登录
            </button>
          </div>
        </nav>
      </div>
      <div class="hidden login-show">
        <div class="flex flex-row gap-2">
          <button data-href="/" class="px-3 py-1.5 rounded bg-gray-200">
            首页
          </button>
          <button
            data-href="/drafts"
            class="px-3 py-1.5 rounded hover:bg-gray-100"
          >
            草稿
          </button>
          <button
            data-href="/settings"
            class="px-3 py-1.5 rounded hover:bg-gray-100"
          >
            个人设置
          </button>
          <button
            data-href="/management"
            data-with-permission="management.enter"
            class="hidden px-3 py-1.5 rounded hover:bg-gray-100"
          >
            管理面板
          </button>
        </div>
      </div>
    </header>
    <main class="flex-grow mt-4 mx-10 lg:mx-[20%]">
      <div class="hidden login-show rounded-md bg-blue-50 p-4 mb-5">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3 flex-1 md:flex md:justify-between">
            <div class="text-sm text-blue-700" id="announcement-content"></div>
            <p class="mt-3 text-sm md:ml-6 md:mt-0">
              <a id="announcement-pdf-download" href="#" class="whitespace-nowrap font-medium text-blue-700 hover:text-blue-600">
                详情
                <span aria-hidden="true"> &rarr;</span>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div id="issue-list" class="hidden login-show">
        <div class="mb-5 gap-5">
          <button
            data-href="/issue/new"
            data-with-permission="issues.create"
            class="hidden px-3 py-1.5 rounded text-white bg-indigo-600"
          >
            <i class="icon-ic_fluent_add_circle_24_regular"></i>
            创建新期刊
          </button>
        </div>
      </div>
      <div
        id="no-login-box"
        class="login-hidden flex bg-white rounded-lg border shadow justify-center p-10"
      >
        <p>登录到 Current，开始创作之旅。</p>
      </div>
    </main>
    <footer
      class="flex-grow-0 w-full mt-5 px-10 lg:px-[20%] py-10 bg-white border-t-2"
    >
      <img
        class="h-10 w-auto"
        src="/static/img@1.0.0/current.png"
        alt="Current Logo"
      />
      <p class="text-sm text-gray-500 mt-5">
        Current - An intelligent platform for scholar newspaper.
      </p>
      <p class="text-sm text-gray-500 mt-1">
        Made by
        <a href="https://codezhangborui.com" class="text-indigo-600"
          >CodeZhangBorui</a
        >, All right reserved.
      </p>
    </footer>
    <script>
      var token = Cookies.get("token");
      var requestIssues = () => {
        axios
          .get("/api/issues/list", {
            headers: {
              Authorization: token,
            },
          })
          .then((result) => {
            var data = result.data;
            console.log(data);
            if (data.code == 200) {
              var issues = data.data;
              var issueList = document.getElementById("issue-list");
              issues.forEach((issue) => {
                var issueItem = document.createElement("div");
                if (issue.ispublished) {
                  var publish_date = new Date(
                    issue.date * 1000
                  ).toLocaleDateString();
                  var left_days = Math.floor(
                    (new Date(issue.date * 1000) - new Date()) /
                      1000 /
                      60 /
                      60 /
                      24
                  );
                  template = `
                  <div class="mr-3">
                    <i
                      class="icon-ic_fluent_merge_24_regular text-blue-600 text-xl"
                    ></i>
                  </div>
                  <div class="flex-1 flex-col">
                    <h2>第 ${issue.id} 期</h2>
                    <p>出版日期：${publish_date}</p>
                  </div>
                  <div>
                    <button
                      data-href="/issue/${issue.id}"
                      class="hidden px-3 py-1.5 rounded hover:bg-gray-100"
                    >
                      统计信息
                    </button>
                    <div>
                      <button
                        data-href="/issue/${issue.id}"
                        class="px-3 py-1.5 rounded hover:bg-gray-100"
                      >
                        查看
                      </button>
                    </div>
                  </div>`;
                  var thisdom = template;
                  issueItem.innerHTML = thisdom;
                } else {
                  var publish_date = new Date(
                    issue.date * 1000
                  ).toLocaleDateString();
                  var left_days = Math.floor(
                    (new Date(issue.date * 1000) - new Date()) /
                      1000 /
                      60 /
                      60 /
                      24
                  );
                  template = `
                  <div class="mr-3">
                    <i
                      class="icon-ic_fluent_circle_32_regular text-blue-400 text-xl"
                    ></i>
                  </div>
                  <div class="flex-1 flex-col">
                    <h2>第 ${issue.id} 期</h2>
                    <p>计划出版日期：${publish_date}</p>
                    <p>
                      剩余天数：<label class="border rounded px-2"
                        >${left_days} 天</label
                      >
                    </p>
                  </div>
                  <div>
                    <button
                      data-href="/issue/${issue.id}"
                      class="px-3 py-1.5 rounded hover:bg-gray-100"
                    >
                      查看
                    </button>
                    <div data-with-permission="issues.publish" class="hidden">
                      <button
                        data-href="/issue/${issue.id}#publish"
                        class="px-3 py-1.5 rounded hover:bg-gray-100"
                      >
                        发布
                      </button>
                    </div>
                  </div>`;
                  var thisdom = template;
                  issueItem.innerHTML = thisdom;
                }
                issueItem.classList.add(
                  "flex",
                  "flex-col",
                  "lg:flex-row",
                  "flex-nowrap",
                  "bg-white",
                  "rounded-lg",
                  "border",
                  "shadow",
                  "mb-3",
                  "p-5",
                  "w-full"
                );
                issueList.appendChild(issueItem);
              });
              issueList.classList.remove("hidden");
            }
            processPermission();
            processDataHref();
          });
      };
      processDataHref();
    </script>
    <script>
      var token = Cookies.get("token");
      var requestannouncement = () => {
        axios
          .get("/api/clients/getannouncement", {
            headers: {
              Authorization: token,
            },
          })
          .then((result) => {
            var data = result.data;
            console.log(data);
            if (data.code == 200) {
              var announcement = data.data;
              var announcementContent = document.getElementById(
                "announcement-content"
              );
              var announcementPdfDownload = document.getElementById(
                "announcement-pdf-download"
              );
              announcementContent.innerHTML = announcement.content;
              if(announcement.show_pdf) {
                announcementPdfDownload.href = `/api/clients/getannouncementpdf?token=${token}`;
              } else {
                announcementPdfDownload.classList.add("hidden");
              }
            }
          });
      };
      requestannouncement();
    </script>
    <script>
      verifyUser(
        (onsuccess = (userdetail) => {
          console.log("Logged in");
          requestIssues();
          run_tourguide();
        })
      );
      regLogoutButton();
    </script>
    <script>
      var run_tourguide = () => {
        const toursComplete = localStorage.getItem('tg_tours_complete');
        if(toursComplete === null) {
          localStorage.setItem('tg_tours_complete', "1");
          const tg = new tourguide.TourGuideClient({
            backdropColor: string = "rgba(20,20,21,0.3)",
            completeOnFinish: false,
            debug: true,
            nextLabel: "下一步",
            prevLabel: "上一步",
            finishLabel: "现在就去",
            steps: [
              {
                content: "🎉 欢迎来到 Current 东营市第一中学英文报在线编辑部工作网站！🎉<br/>👋 欢迎使用 Current 进行在线投稿和编辑工作。为了让您更好地使用我们的网站，以下是一个详细的导览指南，希望能帮助您快速上手。",
                title: "👋 Welcome to Current",
                target: undefined,
                order: 1
              },
              {
                content: "在这里你可以开始你的编辑工作，当然也可以查看往期报纸。",
                title: "首页🌟",
                target: document.querySelector("body > header > div.login-show > div > button.px-3.py-1\\.5.rounded.bg-gray-200.cursor-pointer"),
                order: 2,
              },
              {
                content: "在这里查看所有的投稿",
                title: "草稿📝",
                target: document.querySelector("body > header > div.login-show > div > button:nth-child(2)"),
                order: 3
              },
              {
                content: "在这里你可以修改你的密码，如果你是首次登录，别忘了修改默认密码。",
                title: "个人设置 ⚙️",
                target: document.querySelector("body > header > div.login-show > div > button:nth-child(3)"),
                order: 4
              },
              {
                content: "点击下方按钮，让我们来帮你入门编辑工作吧！",
                title: "下一步 ⚙️",
                target: undefined,
                order: 5,
              }
            ]
          });
          tg.onFinish(()=>{
            window.location.href = '/issue/_example'
          })
          tg.start();
        }
      }
    </script>
  </body>
</html>
