<!DOCTYPE html>
<html class="h-full">
  <head>
    <script>
      window.issue_id = {{ issue_id }}
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Current | 第 {{ issue_id }} 期</title>
    <link href="/static/current@1.0.4/index.css" rel="stylesheet" />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Filled.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Regular.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-dialog@1.0.0/index.css"
      rel="stylesheet"
    />
    <script src="/static/axois@1.7.2/axios.min.js"></script>
    <script src="/static/js-cookie@3.0.5/js.cookie.min.js"></script>
    <script src="/static/toast-js@1.0.0/toast.min.js"></script>
    <script src="/static/fluent-dialog@1.0.0/index.js"></script>
    <script src="/static/current@1.0.4/index.js"></script>
    <script src="/static/jszip@3.10.1/jszip.min.js"></script>
    <script src="/static/filesaver@2.0.4/FileSaver.min.js"></script>
    <script
      src="https://js.sentry-cdn.com/a947a58403328f3fe3be75a35f07b057.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="flex flex-col h-full bg-[#fafafa]">
    <header class="flex-grow-0 px-5 pb-2 bg-white border-b-2">
      <div>
        <nav class="flex flex-row justify-between items-center mx-3 pt-5 pb-2">
          <div class="flex flex-row h-8">
            <a href="/" class="">
              <span class="sr-only">Current</span>
              <img
                class="h-6 w-auto"
                src="/static/img@1.0.0/current.png"
                alt=""
              />
            </a>
            <div class="hidden login-show flex flex-row">
              <i
                class="icon-ic_fluent_slash_forward_24_filled mx-2 text-gray-200 text-2xl"
              ></i>
              <p data-href="/">
                <span id="username" class="font-bold"></span>
              </p>
              <i
                class="icon-ic_fluent_slash_forward_24_filled mx-2 text-gray-200 text-2xl"
              ></i>
              <p>第 <span id="issue_id" class="font-bold"></span> 期</p>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="flex-grow mt-4 mx-10 lg:mx-[20%]">
      <div id="not-active-box" class="hidden rounded-md bg-blue-50 p-4 mb-5">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3 flex-1">
            <div class="text-blue-700">您无需为此期刊投稿。</div>
            <div class="text-sm text-blue-500">管理员已将您标记为未活跃。</div>
          </div>
        </div>
      </div>
      <div
        id="dashboard-container"
        class="bg-white rounded-lg border shadow p-10 mb-3"
      >
        <h2 class="text-xl font-bold mb-2">Dashboard</h2>
        <div class="flex flex-col">
          <div class="flex flex-row justify-between my-3">
            <div class="flex flex-col">
              <p class="text-sm text-gray-500">已投稿</p>
              <p class="text-2xl"><span id="created-total">0</span> 条</p>
            </div>
            <div class="flex flex-col">
              <p class="text-sm text-gray-500">已审核</p>
              <p class="text-2xl"><span id="reviewed-total">0</span> 条</p>
            </div>
            <div class="flex flex-col">
              <p class="text-sm text-gray-500">已选录</p>
              <p class="text-2xl"><span id="selected-total">0</span> 条</p>
            </div>
          </div>
          <p class="mt-1">第一版</p>
          <div data-statical-render="1" class="flex flex-row mt-1 h-6"></div>
          <p class="mt-1">第二版</p>
          <div data-statical-render="2" class="flex flex-row mt-1 h-6"></div>
          <p class="mt-1">第三版</p>
          <div data-statical-render="3" class="flex flex-row mt-1 h-6"></div>
          <p class="mt-1">第四版</p>
          <div data-statical-render="4" class="flex flex-row mt-1 h-6"></div>
        </div>
      </div>
      <!-- <div
        id="cooperator-container"
        class="bg-white rounded-lg border shadow p-10 mb-3"
      >
        <h2 class="text-xl font-bold mb-2">协作者信息</h2>
        <div class="flex flex-col">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-white rounded-lg border shadow p-4">
              <h3 class="text-lg font-semibold">主编</h3>
              <ul id="leader-container" class="mt-2"></ul>
            </div>
            <div class="bg-white rounded-lg border shadow p-4">
              <h3 class="text-lg font-semibold">副主编</h3>
              <ul id="editors-container" class="mt-2"></ul>
            </div>
            <div class="bg-white rounded-lg border shadow p-4">
              <h3 class="text-lg font-semibold">责任编辑</h3>
              <ul id="respeditor-container" class="mt-2"></ul>
            </div>
          </div>
        </div>
      </div> -->
      <div
        id="publish"
        data-with-permission="issues.publish"
        class="hidden bg-white rounded-lg border shadow p-10 mb-3"
      >
        <h2 class="text-xl font-bold mb-2">发布 第 {{ issue_id }} 期</h2>
        <div class="col-span-full">
          <label
            for="file-upload"
            class="block text-sm font-medium leading-6 text-gray-900"
            >上传最终发布版</label
          >
          <div
            class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
          >
            <div class="text-center">
              <div class="mt-4 flex flex-col text-sm leading-6 text-gray-600">
                <p id="filename-show"></p>
                <label
                  for="file-upload"
                  class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
                >
                  <span>点击上传</span>
                  <input
                    id="file-upload"
                    name="file-upload"
                    type="file"
                    class="sr-only"
                  />
                </label>
                <p class="hidden md:block pl-1">或者拖入文件</p>
              </div>
              <p class="text-xs leading-5 text-gray-600">我们推荐：PDF</p>
            </div>
          </div>
        </div>
        <button
          id="publish-issue"
          class="mt-2 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          现在发布
        </button>
      </div>
      <div id="release-pdf-show"></div>
      <div id="operation-button-bar">
        <button
          data-href="/issue/{{ issue_id }}/create"
          data-with-permission="entries.create.{{ issue_id }}"
          class="hidden px-3 py-1.5 rounded text-white bg-indigo-600"
        >
          <i class="icon-ic_fluent_add_circle_24_regular"></i>
          创建投稿
        </button>
        <button id="download-all" class="px-3 py-1.5 rounded hover:bg-gray-100">
          批量下载
        </button>
      </div>
      <h2 class="text-xl font-bold my-5">第一版</h2>
      <div id="page-1-container"></div>
      <h2 class="text-xl font-bold my-5">
        第二版 - <span id="page-2-subject"></span>
      </h2>
      <div id="page-2-container"></div>
      <h2 class="text-xl font-bold my-5">
        第三版 - <span id="page-3-subject"></span>
      </h2>
      <div id="page-3-container"></div>
      <h2 class="text-xl font-bold my-5">
        第四版 - <span id="page-4-subject"></span>
      </h2>
      <div id="page-4-container"></div>
      <input type="file" id="review-files" class="hidden" />
    </main>
    <footer
      class="flex-grow-0 w-full mt-5 px-10 lg:px-[20%] py-10 bg-white border-t-2"
    >
      <img
        class="h-10 w-auto"
        src="/static/img@1.0.0/current.png"
        alt="Current Logo"
      />
      <p class="text-sm text-gray-500 mt-5">
        Current - An intelligent platform for scholar newspaper.
      </p>
      <p class="text-sm text-gray-500 mt-1">
        Made by
        <a href="https://codezhangborui.com" class="text-indigo-600"
          >CodeZhangBorui</a
        >, All right reserved.
      </p>
    </footer>
    <script>
      var token = Cookies.get("token");
      processDataHref();
      verifyUser();
      processPermission();
      document.querySelectorAll("#issue_id").forEach((e) => {
        e.innerText = window.issue_id;
      });
    </script>
    <script src="/static/current@1.0.4/issue/entries_render.js"></script>
    <!-- <script src="/static/current@1.0.4/issue/authors_render.js"></script> -->
    <script src="/static/current@1.0.4/issue/entries_operations.js"></script>
    <script src="/static/current@1.0.4/issue/download_all.js"></script>
    <script src="/static/current@1.0.4/issue/releases_functions.js"></script>
    <script>
      verifyUser(onsuccess = (userdetail) => {
        if(userdetail.active == 0) {
          document.querySelector("#not-active-box").classList.remove("hidden");
          document.querySelector("#operation-button-bar").classList.add("hidden");
          document.querySelectorAll("[data-review-uuid]").forEach((e) => {
            e.classList.add("hidden");
          });
          document.querySelectorAll("[data-remove-uuid]").forEach((e) => {
            e.classList.add("hidden");
          });
          document.querySelectorAll("[data-select-uuid]").forEach((e) => {
            e.classList.add("hidden");
          });
        }
      });
    </script>
  </body>
</html>
