<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Current | 第 {{ issue_id }} 期</title>
    <link href="/static/current@1.0.2/index.css" rel="stylesheet" />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Filled.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Regular.css"
      rel="stylesheet"
    />
    <script src="/static/axois@1.7.2/axios.min.js"></script>
    <script src="/static/js-cookie@3.0.5/js.cookie.min.js"></script>
    <script src="/static/toast-js@1.0.0/toast.min.js"></script>
    <script src="/static/current@1.0.2/index.js"></script>
    <script>
      window.issue_id = {{ issue_id }}
    </script>
    <script src="/static/jszip@3.10.1/jszip.min.js"></script>
    <script src="/static/filesaver@2.0.4/FileSaver.min.js"></script>
  </head>
  <body class="flex flex-col h-full bg-[#fafafa]">
    <header class="flex-grow-0 px-5 pb-2 bg-white border-b-2">
      <div>
        <nav class="flex flex-row justify-between items-center mx-3 pt-5 pb-2">
          <div class="flex flex-row h-8">
            <a href="/" class="">
              <span class="sr-only">Current</span>
              <img
                class="h-6 w-auto"
                src="/static/img@1.0.0/current.png"
                alt=""
              />
            </a>
            <div class="hidden login-show flex flex-row">
              <i
                class="icon-ic_fluent_slash_forward_24_filled mx-2 text-gray-200 text-2xl"
              ></i>
              <p data-href="/">
                <span id="username" class="font-bold"></span>
              </p>
              <i
                class="icon-ic_fluent_slash_forward_24_filled mx-2 text-gray-200 text-2xl"
              ></i>
              <p>第 <span id="issue_id" class="font-bold"></span> 期</p>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="flex-grow mt-4 mx-10 lg:mx-[20%]">
      <div
        id="dashboard-container"
        class="bg-white rounded-lg border shadow p-10 mb-3"
      >
        <h2 class="text-xl font-bold mb-2">Dashboard</h2>
        <div class="flex flex-col">
          <div class="flex flex-row justify-between my-3">
            <div class="flex flex-col">
              <p class="text-sm text-gray-500">已投稿</p>
              <p class="text-2xl"><span id="created-total">0</span> 条</p>
            </div>
            <div class="flex flex-col">
              <p class="text-sm text-gray-500">已审核</p>
              <p class="text-2xl"><span id="reviewed-total">0</span> 条</p>
            </div>
            <div class="flex flex-col">
              <p class="text-sm text-gray-500">已选录</p>
              <p class="text-2xl"><span id="selected-total">0</span> 条</p>
            </div>
          </div>
          <p class="mt-1">第一版</p>
          <div data-statical-render="1" class="flex flex-row mt-1 h-6"></div>
          <p class="mt-1">第二版</p>
          <div data-statical-render="2" class="flex flex-row mt-1 h-6"></div>
          <p class="mt-1">第三版</p>
          <div data-statical-render="3" class="flex flex-row mt-1 h-6"></div>
          <p class="mt-1">第四版</p>
          <div data-statical-render="4" class="flex flex-row mt-1 h-6"></div>
        </div>
      </div>
      <div
        id="cooperator-container"
        class="bg-white rounded-lg border shadow p-10 mb-3"
      >
        <h2 class="text-xl font-bold mb-2">协作者信息</h2>
        <div class="flex flex-col">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="bg-white rounded-lg border shadow p-4">
              <h3 class="text-lg font-semibold">主编</h3>
              <ul id="leader-container" class="mt-2"></ul>
            </div>
            <div class="bg-white rounded-lg border shadow p-4">
              <h3 class="text-lg font-semibold">副主编</h3>
              <ul id="editors-container" class="mt-2"></ul>
            </div>
            <div class="bg-white rounded-lg border shadow p-4">
              <h3 class="text-lg font-semibold">责任编辑</h3>
              <ul id="respeditor-container" class="mt-2"></ul>
            </div>
          </div>
        </div>
      </div>
      <div
        id="publish"
        data-with-permission="issues.publish"
        class="hidden bg-white rounded-lg border shadow p-10 mb-3"
      >
        <h2 class="text-xl font-bold mb-2">发布 第 {{ issue_id }} 期</h2>
        <div class="col-span-full">
          <label
            for="file-upload"
            class="block text-sm font-medium leading-6 text-gray-900"
            >上传最终发布版</label
          >
          <div
            class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
          >
            <div class="text-center">
              <div class="mt-4 flex flex-col text-sm leading-6 text-gray-600">
                <p id="filename-show"></p>
                <label
                  for="file-upload"
                  class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
                >
                  <span>点击上传</span>
                  <input
                    id="file-upload"
                    name="file-upload"
                    type="file"
                    class="sr-only"
                  />
                </label>
                <p class="hidden md:block pl-1">或者拖入文件</p>
              </div>
              <p class="text-xs leading-5 text-gray-600">我们推荐：PDF</p>
            </div>
          </div>
        </div>
        <button
          id="publish-issue"
          class="mt-2 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          现在发布
        </button>
      </div>
      <div id="release-pdf-show"></div>
      <div id="operation-button-bar">
        <button
          data-href="/issue/{{ issue_id }}/create"
          data-with-permission="entries.create.{{ issue_id }}"
          class="hidden px-3 py-1.5 rounded text-white bg-indigo-600"
        >
          <i class="icon-ic_fluent_add_circle_24_regular"></i>
          创建投稿
        </button>
        <button id="download-all" class="px-3 py-1.5 rounded hover:bg-gray-100">
          批量下载
        </button>
      </div>
      <h2 class="text-xl font-bold my-5">第一版</h2>
      <div id="page-1-container"></div>
      <h2 class="text-xl font-bold my-5">
        第二版 - <span id="page-2-subject"></span>
      </h2>
      <div id="page-2-container"></div>
      <h2 class="text-xl font-bold my-5">
        第三版 - <span id="page-3-subject"></span>
      </h2>
      <div id="page-3-container"></div>
      <h2 class="text-xl font-bold my-5">
        第四版 - <span id="page-4-subject"></span>
      </h2>
      <div id="page-4-container"></div>
      <input type="file" id="review-files" class="hidden" />
    </main>
    <footer
      class="flex-grow-0 w-full mt-5 px-10 lg:px-[20%] py-10 bg-white border-t-2"
    >
      <img
        class="h-10 w-auto"
        src="/static/img@1.0.0/current.png"
        alt="Current Logo"
      />
      <p class="text-sm text-gray-500 mt-5">
        Current - An intelligent platform for scholar newspaper.
      </p>
      <p class="text-sm text-gray-500 mt-1">
        Made by
        <a href="https://codezhangborui.com" class="text-indigo-600"
          >CodeZhangBorui</a
        >, All right reserved.
      </p>
    </footer>
    <script>
      var token = Cookies.get("token");
      processDataHref();
      verifyUser();
      processPermission();
      document.querySelectorAll("#issue_id").forEach((e) => {
        e.innerText = window.issue_id;
      });
    </script>
    <script>
      var token = Cookies.get("token");
      axios
        .get(`/api/entries/listissue/${window.issue_id}`, {
          headers: {
            Authorization: token,
          },
        })
        .then((result) => {
          var data = result.data;
          console.log(data);
          if (data.code === 200) {
            // Render statical data
            var statical = data.data.count;
            var created_total = 0;
            var reviewed_total = 0;
            var selected_total = 0;
            for (let i = 0; i < statical.length; i++) {
              var dom = document.querySelector(
                `[data-statical-render="${i + 1}"]`
              );
              var pending_dom = document.createElement("span");
              pending_dom.classList.add(
                "h-5",
                "w-2",
                "rounded",
                "shadow",
                "bg-gray-300",
                "mr-1"
              );
              var created_dom = document.createElement("span");
              created_dom.classList.add(
                "h-5",
                "w-2",
                "rounded",
                "shadow",
                "bg-green-200",
                "mr-1"
              );
              var reviewed_dom = document.createElement("span");
              reviewed_dom.classList.add(
                "h-5",
                "w-2",
                "rounded",
                "shadow",
                "bg-green-500",
                "mr-1"
              );
              var selected_dom = document.createElement("span");
              selected_dom.classList.add(
                "h-5",
                "w-2",
                "rounded",
                "shadow",
                "bg-blue-600",
                "mr-1"
              );
              for (let j = 0; j < statical[i].selected; j++) {
                dom.appendChild(selected_dom.cloneNode());
              }
              for (let j = 0; j < statical[i].reviewed; j++) {
                dom.appendChild(reviewed_dom.cloneNode());
              }
              for (let j = 0; j < statical[i].created; j++) {
                dom.appendChild(created_dom.cloneNode());
              }
              for (let j = 0; j < statical[i].pending; j++) {
                dom.appendChild(pending_dom.cloneNode());
              }
              created_total += statical[i].created;
              reviewed_total += statical[i].reviewed;
              selected_total += statical[i].selected;
            }
            document.querySelector("#created-total").innerText = created_total;
            document.querySelector("#reviewed-total").innerText =
              reviewed_total;
            document.querySelector("#selected-total").innerText =
              selected_total;
            // Render entries
            var entries = data.data.list;
            var icon_type = {
              created: "icon-ic_fluent_circle_32_regular text-blue-400",
              reviewed:
                "icon-ic_fluent_checkmark_circle_32_regular text-green-400",
              selected: "icon-ic_fluent_merge_24_regular text-blue-600",
            };
            var page_dom = [
              document.querySelector("#page-1-container"),
              document.querySelector("#page-2-container"),
              document.querySelector("#page-3-container"),
              document.querySelector("#page-4-container"),
            ];
            entries.forEach((entry) => {
              var entry_template = `
              <div class="mr-3">
                <i
                  class="${icon_type[entry.status]} text-xl"
                ></i>
              </div>
              <div class="flex-1 flex-col">
                <h2 class="font-bold text-lg">${entry.title}</h2>
                <p><span class="font-bold">来源：</span>${entry.origin}</p>
                <p><span class="font-bold">词数：</span>${entry.wordcount}</p>
                <p><span class="font-bold">描述：</span></p>
                <p>${entry.description}</p>
                <p><span class="font-bold">选稿人：</span>${entry.selector}</p>
                <p><span class="font-bold">审稿人：</span>${entry.reviewer}</p>
              </div>
              <div data-with-permission="entries.review.${
                window.issue_id
              }" class="hidden">
                <button
                  data-href="/api/entries/getasset/${entry.uuid}"
                  class="px-3 py-1.5 rounded hover:bg-gray-100"
                >
                  下载
                </button>
                <button
                  data-with-permission="entries.remove.${
                    window.issue_id
                  }"
                  data-remove-uuid="${entry.uuid}"
                  class="hidden px-3 py-1.5 rounded hover:bg-gray-100"
                >
                  删除
                </button>
                <button
                  data-review-uuid="${entry.uuid}"
                  class="px-3 py-1.5 rounded hover:bg-gray-100"
                >
                  审稿
                </button>
              </div>
              <div data-with-permission="entries.select.${
                window.issue_id
              }" class="hidden">
                <button
                  data-select-uuid="${entry.uuid}"
                  class="px-3 py-1.5 rounded hover:bg-gray-100"
                >
                  选录
                </button>
              </div>
              `;
              var entryItem = document.createElement("div");
              entryItem.innerHTML = entry_template;
              entryItem.classList.add(
                "flex",
                "flex-col",
                "lg:flex-row",
                "flex-nowrap",
                "bg-white",
                "rounded-lg",
                "border",
                "shadow",
                "mb-3",
                "p-5",
                "w-full"
              );
              if (entry.status === "created" || entry.status === "pending") {
                entryItem
                  .querySelector("[data-select-uuid]")
                  .classList.add("hidden");
              } else if (entry.status === "reviewed") {
                entryItem.querySelector("[data-review-uuid]").innerText =
                  "重新审核";
              } else if (entry.status === "selected") {
                entryItem
                  .querySelector("[data-review-uuid]")
                  .classList.add("hidden");
                entryItem.querySelector("[data-select-uuid]").innerText =
                  "取消选录";
              }
              page_dom[entry.page - 1].appendChild(entryItem);
            });
            processDataHref();
            processPermission();
            processRemoveButton();
            processReviewButton();
            processSelectButton();
          } else {
            sendToast.error(data.message);
          }
        });
    </script>
    <script>
      var token = Cookies.get("token");
      axios
        .get(`/api/issues/info/${window.issue_id}`, {
          headers: {
            Authorization: token,
          },
        })
        .then((result) => {
          var data = result.data;
          console.log(data);
          if (data.code === 200) {
            var leader = data.data.leader;
            var editors = data.data.editors;
            var respeditor = data.data.respeditor;
            var leader_dom = document.querySelector("#leader-container");
            var editors_dom = document.querySelector("#editors-container");
            var respeditor_dom = document.querySelector(
              "#respeditor-container"
            );
            var li = document.createElement("li");
            li.classList.add("flex", "items-center", "mr-2");
            li.innerText = leader;
            leader_dom.appendChild(li);
            editors.forEach((e) => {
              var li = document.createElement("li");
              li.classList.add("flex", "items-center", "mr-2");
              li.innerText = e;
              editors_dom.appendChild(li);
            });
            var li = document.createElement("li");
            li.classList.add("flex", "items-center", "mr-2");
            li.innerText = respeditor;
            respeditor_dom.appendChild(li);
            document.querySelector("#page-2-subject").innerText =
              data.data.subject[0];
            document.querySelector("#page-3-subject").innerText =
              data.data.subject[1];
            document.querySelector("#page-4-subject").innerText =
              data.data.subject[2];
          } else {
            sendToast.error(data.message);
          }
        });
    </script>
    <script>
      window.review_uuid = null;
      var review_files = document.querySelector("#review-files");
      review_files.addEventListener("change", (event) => {
        if (review_files.files.length === 0) {
          return;
        }
        if (window.review_uuid == null) {
          sendToast.error("Client error: review_uuid is null.");
          return;
        }
        var uuid = window.review_uuid;
        var file = event.target.files[0];
        var formData = new FormData();
        formData.append("file", file);
        sendToast.info("正在上传文件...");
        axios
          .post(`/api/entries/review/${uuid}`, formData, {
            headers: {
              Authorization: token,
              "Content-Type": "multipart/form-data",
            },
          })
          .then((result) => {
            var data = result.data;
            console.log(data);
            if (data.code === 200) {
              sendToast.success("审核文件上传成功！");
              event.target.files = null;
              setTimeout(() => {
                location.reload();
              }, 1000);
            } else {
              event.target.files = null;
              sendToast.error(data.message);
            }
          });
      });
      var processRemoveButton = () => {
        document.querySelectorAll("[data-remove-uuid]").forEach((e) => {
          e.addEventListener("click", (event) => {
            var uuid = event.target.getAttribute("data-remove-uuid");
            axios
              .post(
                `/api/entries/remove/${uuid}`,
                {},
                {
                  headers: {
                    Authorization: token,
                  },
                }
              )
              .then((result) => {
                var data = result.data;
                console.log(data);
                if (data.code === 200) {
                  sendToast.success("稿件删除成功！");
                  setTimeout(() => {
                    location.reload();
                  }, 1000);
                } else {
                  sendToast.error(data.message);
                }
              });
          });
        });
      };
      var processReviewButton = () => {
        document.querySelectorAll("[data-review-uuid]").forEach((e) => {
          e.addEventListener("click", (event) => {
            var uuid = event.target.getAttribute("data-review-uuid");
            var review_files = document.querySelector("#review-files");
            window.review_uuid = uuid;
            review_files.files = null;
            sendToast.info("请选择审核并修改过后的文件，并上传。");
            review_files.click();
          });
        });
      };
    </script>
    <script>
      var processSelectButton = () => {
        document.querySelectorAll("[data-select-uuid]").forEach((e) => {
          e.addEventListener("click", (event) => {
            var uuid = event.target.getAttribute("data-select-uuid");
            axios
              .post(
                `/api/entries/select/${uuid}`,
                {},
                {
                  headers: {
                    Authorization: token,
                  },
                }
              )
              .then((result) => {
                var data = result.data;
                console.log(data);
                if (data.code === 200) {
                  if (data.data.status === "selected") {
                    sendToast.success("选录成功！");
                    setTimeout(() => {
                      location.reload();
                    }, 1000);
                  } else if (data.data.status === "reviewed") {
                    sendToast.success("取消选录成功！");
                    setTimeout(() => {
                      location.reload();
                    }, 1000);
                  }
                } else {
                  sendToast.error(data.message);
                }
              });
          });
        });
      };
    </script>
    <script>
      async function downloadAllEntries(entries) {
        const zip = new JSZip();

        for (let entry of entries) {
          const entryFolder = zip.folder(entry.title);
          const response = await axios.get(
            `/api/entries/getasset/${entry.uuid}`,
            { responseType: "blob" }
          );
          entryFolder.file(`${entry.filename}`, response.data, {
            binary: true,
          });
        }

        zip.generateAsync({ type: "blob" }).then((blob) => {
          saveAs(blob, `第 ${window.issue_id} 期的所有稿件 - Current.zip`);
          sendToast.success("所有稿件下载成功！");
        });
      }
      document
        .querySelector("button#download-all")
        .addEventListener("click", () => {
          sendToast.info("正在下载所有稿件，请稍后...");
          axios
            .get(`/api/entries/listissue/${window.issue_id}`, {
              headers: {
                Authorization: token,
              },
            })
            .then((result) => {
              var data = result.data;
              console.log(data);
              if (data.code === 200) {
                var entries = data.data.list;
                downloadAllEntries(entries);
              } else {
                sendToast.error(data.message);
              }
            });
        });
    </script>
    <script>
      processPublishButton = () => {
        document
          .querySelector("#file-upload")
          .addEventListener("change", (event) => {
            var filename = event.target.files[0].name;
            document.querySelector("#filename-show").innerText = filename;
          });
        document
          .querySelector("#publish-issue")
          .addEventListener("click", () => {
            var file = document.querySelector("#file-upload").files[0];
            if (file == null) {
              sendToast.error("请先选择文件！");
              return;
            }
            var formData = new FormData();
            formData.append("pdf", file);
            axios
              .post(`/api/issues/publish/${window.issue_id}`, formData, {
                headers: {
                  Authorization: token,
                  "Content-Type": "multipart/form-data",
                },
              })
              .then((result) => {
                var data = result.data;
                console.log(data);
                if (data.code === 200) {
                  sendToast.success("发布成功！");
                  setTimeout(() => {
                    location.reload();
                  }, 1000);
                } else {
                  sendToast.error(data.message);
                }
              });
          });
      };
      var token = Cookies.get("token");
      axios
        .get(`/api/issues/info/${window.issue_id}`, {
          headers: {
            Authorization: token,
          },
        })
        .then((result) => {
          var data = result.data;
          console.log(data);
          if (data.code === 200) {
            if (data.data.ispublished) {
              document
                .querySelector("#dashboard-container")
                .classList.add("hidden");
              document
                .querySelector("#cooperator-container")
                .classList.add("hidden");
              document
                .querySelector("#operation-button-bar")
                .classList.add("hidden");
              document
                .querySelector("[data-with-permission='issues.publish']")
                .remove();
              var userAgent = navigator.userAgent.toLowerCase();
              if (userAgent.includes("mobi") || userAgent.includes("android")) {
                var pdfdiv = document.createElement("div");
                pdfdiv.classList.add(
                  "bg-white",
                  "rounded-lg",
                  "border",
                  "shadow",
                  "p-10",
                  "mb-3"
                );
                var button = document.createElement("button");
                button.classList.add(
                  "px-3",
                  "py-1.5",
                  "rounded",
                  "bg-indigo-600",
                  "text-white",
                  "hover:bg-indigo-500"
                );
                button.innerText = "下载 PDF";
                button.addEventListener("click", () => {
                  window.open(`/api/issues/getpdf/${window.issue_id}`);
                });
                pdfdiv.appendChild(button);
                document.querySelector("#release-pdf-show").appendChild(pdfdiv);
              } else {
                var pdfiframe = document.createElement("iframe");
                pdfiframe.src = `/api/issues/getpdf/${window.issue_id}`;
                pdfiframe.classList.add(
                  "mb-5",
                  "w-full",
                  "h-[65vh]",
                  "shadow",
                  "rounded"
                );
                document
                  .querySelector("#release-pdf-show")
                  .appendChild(pdfiframe);
              }
            } else {
              document.querySelector("#release-pdf-show").remove();
              processPublishButton();
            }
          } else {
            sendToast.error(data.message);
          }
        });
    </script>
  </body>
</html>
