<!DOCTYPE html>
<html class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Current | 管理面板</title>
    <link href="/static/current@1.0.2/index.css" rel="stylesheet" />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Filled.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Regular.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-dialog@1.0.0/index.css"
      rel="stylesheet"
    />
    <script src="/static/axois@1.7.2/axios.min.js"></script>
    <script src="/static/js-cookie@3.0.5/js.cookie.min.js"></script>
    <script src="/static/toast-js@1.0.0/toast.min.js"></script>
    <script src="/static/fluent-dialog@1.0.0/index.js"></script>
    <script src="/static/current@1.0.2/index.js"></script>
    <script
      src="https://js.sentry-cdn.com/a947a58403328f3fe3be75a35f07b057.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="w-full h-full bg-[#f5f5f5]">
    <header
      class="flex flex-row justify-between items-center w-full h-14 bg-[#3b3b3b] shadow-lg px-10 lg:px-[10%]"
    >
      <div class="flex flex-row items-center">
        <a href="/" class="">
          <span class="sr-only">Current</span>
          <img class="h-6 w-auto" src="/static/img@1.0.0/current.png" alt="" />
        </a>
        <button
          class="ml-3 px-2 py-1 rounded text-gray-100 hover:bg-[#4e4e4e]"
          data-href="/management"
        >
          仪表盘
        </button>
        <button
          class="ml-3 px-2 py-1 rounded text-gray-100 hover:bg-[#4e4e4e]"
          data-href="/management/users"
        >
          用户管理
        </button>
      </div>
      <div>
        <button
          id="logout-button"
          class="ml-3 px-2 py-1 rounded text-gray-100 hover:bg-[#4e4e4e]"
        >
          安全退出
        </button>
      </div>
    </header>
    <main class="px-10 lg:px-[10%]">
      <div id="breadcumb" class="my-5">
        <p>
          <span class="text-gray-500" data-href="/management">管理面板</span>
          <span class="text-gray-500 mx-2">/</span>
          <span class="text-black">用户</span>
        </p>
      </div>
      <div class="flex flex-col">
        <div class="bg-white border shadow rounded m-3 p-5">
          <h1 class="text-xl">所有用户</h1>
          <table class="table-container">

          </table>
          <p>Sorry but an error occured, please report it to developer.</p>
        </div>
      </div>
    </main>
    <script>
      processDataHref();
    </script>
    <script>
      document.getElementById("logout-button").addEventListener("click", function() {
        axios.get("/api/management/logout").then((result) => {
          var data = result.data;
          if(data.code == 200) {
            location.reload();
          } else {
            sendToast.error(data.message);
          }
        });
      })
    </script>
    <script>
      axios.get("/api/management/users/list").then((result) => {
        var data = result.data;
        if(data.code == 200) {
          var users = data.data;
          var table = document.querySelector(".table-container");
          var thead = document.createElement("thead");
          var tr = document.createElement("tr");
          var th1 = document.createElement("th");
          var th2 = document.createElement("th");
          var th3 = document.createElement("th");
          var th4 = document.createElement("th");
          th1.innerText = "用户名";
          th2.innerText = "邮箱";
          th3.innerText = "角色";
          th4.innerText = "操作";
          tr.appendChild(th1);
          tr.appendChild(th2);
          tr.appendChild(th3);
          tr.appendChild(th4);
          thead.appendChild(tr);
          table.appendChild(thead);
          var tbody = document.createElement("tbody");
          users.forEach((user) => {
            var tr = document.createElement("tr");
            var td1 = document.createElement("td");
            var td2 = document.createElement("td");
            var td3 = document.createElement("td");
            var td4 = document.createElement("td");
            td1.innerText = user.username;
            td2.innerText = user.email;
            td3.innerText = user.role;
            var button = document.createElement("button");
            button.innerText = "删除";
            button.classList.add("px-2", "py-1", "rounded", "text-white", "bg-red-500", "hover:bg-red-600");
            button.addEventListener("click", function() {
              axios.post("/api/management/users/delete", {
                username: user.username
              }).then((result) => {
                var data = result.data;
                if(data.code == 200) {
                  sendToast.success(data.message);
                  location.reload();
                } else {
                  sendToast.error(data.message);
                }
              });
            });
            td4.appendChild(button);
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tr.appendChild(td4);
            tbody.appendChild(tr);
          });
          table.appendChild(tbody);
        } else {
          sendToast.error(data.message);
        }
      });
    </script>
  </body>
</html>
