<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Current | 新建期刊</title>
    <link href="/static/current@1.0.4/index.css" rel="stylesheet" />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Filled.css"
      rel="stylesheet"
    />
    <link
      href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Regular.css"
      rel="stylesheet"
    />
    <link href="/static/fluent-dialog@1.0.0/index.css" rel="stylesheet" />
    <script src="/static/axois@1.7.2/axios.min.js"></script>
    <script src="/static/js-cookie@3.0.5/js.cookie.min.js"></script>
    <script src="/static/toast-js@1.0.0/toast.min.js"></script>
    <script src="/static/fluent-dialog@1.0.0/index.js"></script>
    <script src="/static/current@1.0.4/index.js"></script>
    <script
      src="{{ sentry_loader_script_url }}"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({
        dsn: "{{ sentry_dsn }}",
        beforeSend(event, hint) {
          // Check if it is an exception, and if so, show the report dialog
          if (event.exception && event.event_id) {
            Sentry.showReportDialog({ eventId: event.event_id });
          }
          return event;
        },
      });
    </script>  
  </head>
  <body class="flex flex-col h-full bg-[#fafafa]">
    <header class="flex-grow-0 px-5 pb-2 bg-white border-b-2">
      <div>
        <nav class="flex flex-row justify-between items-center mx-3 pt-5 pb-2">
          <div class="flex flex-row h-8">
            <a href="/" class="">
              <span class="sr-only">Current</span>
              <img
                class="h-6 w-auto"
                src="/static/img@1.0.0/current.png"
                alt=""
              />
            </a>
            <div class="hidden login-show flex flex-row">
              <i
                class="icon-ic_fluent_slash_forward_24_filled mx-2 text-gray-200 text-2xl"
              ></i>
              <p data-href="/">
                <span id="username" class="font-bold"></span>
              </p>
              <i
                class="icon-ic_fluent_slash_forward_24_filled mx-2 text-gray-200 text-2xl"
              ></i>
              <p>新建期刊</p>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="flex-grow mt-4 mx-10 lg:mx-[20%]">
      <h2 class="text-xl font-bold mb-2">新建期刊</h2>
      <div class="bg-white rounded-lg border shadow p-10 mb-3">
        <form class="space-y-12">
          <div
            class="border-b border-gray-900/10 pb-12 mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
          >
            <div class="col-span-full">
              <label
                for="id"
                class="block text-sm font-medium leading-6 text-gray-900"
                >期刊期数</label
              >
              <div class="mt-2">
                <input
                  type="number"
                  name="id"
                  id="id"
                  min="1"
                  step="1"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
            <div class="col-span-full">
              <label
                for="deadline"
                class="block text-sm font-medium leading-6 text-gray-900"
                >截止日期</label
              >
              <div class="mt-2">
                <input
                  type="date"
                  id="deadline"
                  name="deadline"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
            <div class="col-span-full">
              <label
                for="subject"
                class="block text-sm font-medium leading-6 text-gray-900"
                >主题</label
              >
              <div class="mt-2 space-y-1">
                <label
                  for="subject_2"
                  class="block text-sm font-medium text-gray-600"
                  >第 2 版</label
                >
                <input
                  type="text"
                  name="subject_2"
                  id="subject_2"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
                <label
                  for="subject_3"
                  class="block text-sm font-medium text-gray-600"
                  >第 3 版</label
                >
                <input
                  type="text"
                  name="subject_3"
                  id="subject_3"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
                <label
                  for="subject_4"
                  class="block text-sm font-medium text-gray-600"
                  >第 4 版</label
                >
                <input
                  type="text"
                  name="subject_4"
                  id="subject_4"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
            </div>
          </div>
          <div class="mt-6 flex items-center justify-end gap-x-6">
            <button
              type="submit"
              class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              发送
            </button>
          </div>
        </form>
      </div>
    </main>
    <footer
      class="flex-grow-0 w-full mt-5 px-10 lg:px-[20%] py-10 bg-white border-t-2"
    >
      <img
        class="h-10 w-auto"
        src="/static/img@1.0.0/current.png"
        alt="Current Logo"
      />
      <p class="text-sm text-gray-500 mt-5">
        Current - An intelligent platform for scholar newspaper.
      </p>
      <p class="text-sm text-gray-500 mt-1">
        Made by
        <a href="https://github.com/DongYing-No-1-Middle-School/Current" class="text-indigo-600"
          >Dongying No.1 Middle School</a
        >, Licensed Under Apache License 2.0
      </p>
    </footer>
    <script>
      var token = Cookies.get("token");
      processDataHref();
      verifyUser();
    </script>
    <script>
      document.querySelector("#deadline").valueAsDate = new Date();
      axios
        .get("/api/issues/list", {
          headers: {
            Authorization: token,
          },
        })
        .then((result) => {
          var data = result.data;
          console.log(data);
          if (data.code == 200) {
            var issues = data.data;
            var max_id = 0;
            issues.forEach((issue) => {
              if (issue.id > max_id) {
                max_id = issue.id;
              }
            });
            document.querySelector("#id").value = max_id + 1;
          }
        });
    </script>
    <script>
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          document.querySelector("button[type='submit']").disabled = true;
          var token = Cookies.get("token");
          var form = document.querySelector("form");
          var formData = new FormData(form);
          var payload = {
            issue_id: formData.get("id"),
            date:
              Number(document.querySelector("#deadline").valueAsNumber) / 1000,
            subject: [formData.get("subject_2"), formData.get("subject_3"), formData.get("subject_4")],
            leader: "",
            editors: [],
            respeditor: "",
          };
          console.log(payload);
          if (
            payload.issue_id.trim() === "" ||
            payload.deadline === "" ||
            payload.subject[0].trim() === "" ||
            payload.subject[1].trim() === "" ||
            payload.subject[2].trim() === ""
          ) {
            sendToast.error("请填写所有必填字段");
            document.querySelector("button[type='submit']").disabled = false;
            return;
          }
          axios
            .post("/api/issues/create", payload, {
              headers: {
                Authorization: token,
              },
            })
            .then((result) => {
              var data = result.data;
              console.log(data);
              if (data.code == 200) {
                sendToast.success("新建成功");
                setTimeout(() => {
                  window.location.href = "/";
                }, 1000);
              } else {
                sendToast.error(data.message);
                document.querySelector("button[type='submit']").disabled = false;
              }
            });
        });
    </script>
  </body>
</html>
