<!DOCTYPE html>
<html class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录到 Current</title>
    <link href="/static/current@1.0.4/index.css" rel="stylesheet" />
    <link href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Filled.css" rel="stylesheet" />
    <link href="/static/fluent-system-icons@1.1.240/FluentSystemIcons-Regular.css" rel="stylesheet" />
    <link href="/static/fluent-dialog@1.0.0/index.css" rel="stylesheet" />
    <script src="/static/axois@1.7.2/axios.min.js"></script>
    <script src="/static/js-cookie@3.0.5/js.cookie.min.js"></script>
    <script src="/static/toast-js@1.0.0/toast.min.js"></script>
    <script src="/static/fluent-dialog@1.0.0/index.js"></script>
    <script
      src="{{ sentry_loader_script_url }}"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({
        dsn: "{{ sentry_dsn }}",
        beforeSend(event, hint) {
          // Check if it is an exception, and if so, show the report dialog
          if (event.exception && event.event_id) {
            Sentry.showReportDialog({ eventId: event.event_id });
          }
          return event;
        },
      });
    </script>  
  </head>
  <body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img
          class="mx-auto h-10 w-auto"
          src="/static/img@1.0.0/current.png"
          alt="Current Logo"
        />
        <h2
          class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
        >
          登录到 Current
        </h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6">
          <div>
            <label
              for="username"
              class="block text-sm font-medium leading-6 text-gray-900"
              >用户名</label
            >
            <div class="mt-2">
              <input
                id="username"
                name="username"
                type="username"
                autocomplete="username"
                required
                class="block p-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <label
                for="password"
                class="block text-sm font-medium leading-6 text-gray-900"
                >密码</label
              >
            </div>
            <div class="mt-2">
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="block p-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              登录
            </button>
          </div>
        </form>
      </div>
    </div>
    <script type="module">
      document.querySelector('form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const username = document.querySelector('#username').value;
        const password = document.querySelector('#password').value;
        axios.post('/api/clients/login', {
          'username': username,
          'password': password
        }).then((result) => {
          var data = result.data;
          if(data.code == 200) {
            Cookies.set('token', data.data.token, { expires: 30 });
            document.querySelector('button').setAttribute('disabled', 'disabled');
            document.querySelector('button').classList.remove('bg-indigo-600');
            document.querySelector('button').classList.add('bg-green-400');
            document.querySelector('button').innerText = `欢迎回来，${username}！`;
            sendToast.success('登录成功，正在跳转到首页。');
            setTimeout(() => {
              window.location.href = '/';
            }, 1000);
          } else {
            sendToast.error(data.message);
          }
        });
      });
    </script>
  </body>
</html>
